body {
    background-color: #BFCBC2;
    border-radius: 5px;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    height: 90vh;
}

#myTab {
    margin: 20px auto;
}

#tripDetailsHeader {
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px auto;
}

#flights {
    margin: 50px;
    background-color: #BFCBC2;
    border-radius: 5px;
    padding: 20px;
}


.weather-day {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 70px;
  }

/* all cards in a row side by side */
.card {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 70px;
  }

/* card-tab-pane grows to fit the content */
.card-tab-pane {
    flex-grow: 1;
  }

  

  


  
  